.entradas{
  min-width: 100px;
  max-width: 200px;
  margin: auto;
}

.downloadBtn{
  width: auto;
  display: flex;
  margin: 50px auto;
  align-content: center;
  align-items: center;
  justify-content: center;
}
/* .date{
  color: aliceblue;
} */

.link{
/*   border: solid 1px white; */
  height: auto;
}

.linkGo{
  display: flex;
  color: white;
  height: auto;
  justify-content: center;
  font-size: .5em;
  line-break: anywhere;
}
