.entradas{
  min-width: 100px;
  max-width: 200px;
  margin: auto;
  font-size: 1em;
}

.downloadBtn{
  width: auto;
  display: flex;
  margin: 50px auto;
  align-content: center;
  align-items: center;
  justify-content: center;
}
/* .date{
  color: aliceblue;
} */

.link{
/*   border: solid 1px white; */
  height: auto;
  display: flex;
  margin: auto;
}

.linkGo{
  display: flex;
  color: white;
  height: auto;
  justify-content: center;
  font-size: .5em;
  line-break: anywhere;
  text-decoration: none;
}

.edit-styles{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto 0;
}

@media screen and (max-width: 768px){
  .entradas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 90vw;
  }
}
